.abtNvbr{
    background: rgba(0,0,0,0.5);
    width:100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
}
.abtLink{
    color: white;
}
.outerAbout{
    width:100vw;
    height: inherit;
    overflow:hidden;
    background: var(--yellow);
}
.about{
    width:56.56vw;
    height:56.56vw;
    background:white;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%);
    transform: rotate(45deg);
}
.aboutH{
    font-size:4em;
    text-align:center;
    padding-top: 15vh;
}
.aboutP{
    width:100%;
    height: inherit;
    text-align: center;
}
.p1{
    padding-top: 15vh;
    font-size: 1.5em;
    width:60%;
    padding-left:20%;
}
.para{
    font-size: 1.5em;
    width:60%;
    padding-left:20%;
    padding-bottom: 10vh;
}
.whyDiv{
    width:100%;
    height: inherit;
}
.whyH{
    font-size:4em;
    text-align: center;
}
.whyContent{
    width:85vw;
    padding-bottom: 20px;
    margin:5vh 5vw 5vh 10vw;
    border-left: 4px solid var(--black);
}
.icn{
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%);
}
.icn-img{
    height:40px;
    width:40px;
}
.custRel{
    padding-top:40px;
    display: flex;
}
.reasonHeading{
    font-size: 2em;
    margin : 10px;
}
.reason{
    margin:20px;
}