:root{
  --yellow : #f9d342;
  --black : #292926;
}


.App{
  font-size: 16px;
  overflow-x: hidden;
  width:100%;
  margin:0;
  padding:0;
}
P{
  color: var(--black);
}
.nvbr{
  position: absolute;
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
}
.nav{
  display:block;
  position: absolute;
  right:5%;
}
.link{
  color: white;
  text-decoration: none;
  padding:10px;
}
.link:hover{
  color: var(--yellow);
}
.logo{
  vertical-align: center;
  padding-left:2.5vh;
  height:50px;
}
.activeLink{
  color:var(--yellow);
  font-size:1.2em;
}