.App{
  font-size: 16px;
  overflow-x: hidden;
  width:100vw;
}
.nav{
  float:right;
  padding-top:4vh;
  padding-right: 10vw;
}
.link{
  color: white;
  text-decoration: none;
  padding:10px;
}
.link:hover{
  font-size: 1.2em;
}
.logo{
  padding-top:2.5vh;
  padding-left:2.5vh;
  height:5vh;
}
.activeLink{
  color:#f0a07c;
  font-size:1.2em;
}

.nvbr{
  position: absolute;
  width: 100vw;
  height: 10vh;
  background: rgba(255,255,255,0.1);
}
/* rgb(15, 73, 129); */
