.careerNvbr{
    background: rgba(0, 0, 0, 0.6);
}
.careerLink{
    color:white;
}
.outerCareerDiv{
    width:100%;
    text-align: center;
}
.careerH{
    background-image: url(imgs/careerDiv.jpg);
    background-size: cover;
    background-position: center;
    font-size: 4em;
    color: var(--yellow);
    padding: 15vh;
}
.benifitsDiv{
    text-align: center;
    padding:2.5% 5%;
}
.benifitsH{
    font-size: 2em;
    padding:10px;
    text-align: left;
    border-left: 2px solid var(--black);
}
.benifitsContent{
    padding:2% 0px;
    font-size:1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}
.jobsContent{
    padding:2% 0px;
    font-size:1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
.benifitsIntro{
    padding:20px 0px;
    text-align: left;
}
.benifits{
    float: left;
    margin:5px;
    padding:10px;
}
.sideArrow{
    height:15px;
    width:15px;
}
.openningsDiv{
    background:var(--yellow);
    padding:5%;
}
.openingsH{
    font-size: 2em;
    padding-bottom: 5%;
}
.shortJob{
    margin:5% 5% 5% 5%;
    padding:10px;
    text-align: left;
}
.shortJob:hover{
    cursor: pointer;
    background: #e7e7e7;
}
.shortJobDetails{
    padding:5px 10px 5px 10px;
}
.jobH{
    font-size:1.1em;
    font-weight: 500;
}
.outerPopupDiv{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: +2;
}
.innerPopupDiv{
    margin:10% 5%;  
    background: white;
    border-radius: 10px;
    text-align: center;
    padding:5% 10%;
    display: grid;
    grid-template-rows: auto auto auto;
}
.popupContent{
    padding:0% 10% 5% 10%;
}
.popupContentH{
    font-weight: 500;
    float: left;
}
.applyBtn{
    border: 2px solid var(--black) ;
    border-radius: 2px;
    padding:10px;
    margin:.5em;
    color:var(--yellow);
    background: var(--black);
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
}
.closeImg{
    width:35px;
    float: right;
    margin: 5%;
}
.closeImg:hover{
    cursor: pointer;
}
.closeImgDiv{
    width: 100%;
}

@media screen and (max-width:900px){
    .careerH{
        font-size: 2em;
    }
    .benifitsContent{
        grid-template-columns: 100%;
    }
    .jobsContent{
        grid-template-columns: 100%;
    }
    .benifitsIntro{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .benifitsH{
        font-size: 1.5em;
    }
    .openingsH{
        font-size: 1.5em;
    }
    .openings{
        grid-template-columns: 100%;
    }
    .closeImg{
        width:25px;
        margin:0 0 10% 0;
    }
    .innerPopupDiv{
        margin:20% 5%;
    }
}