.contactDiv{
    /* background-image: url(imgs/contact.jpg);
    background-size: cover;
    background-position: center; */
    display: grid;
    grid-template-columns: 70% 30%;
}
.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:900px){
    .contactDiv{
        display: block;
        background: url(imgs/contact.jpg);
        background-size: cover;
        background-position: right;
        padding:10%;
    }
}