.home{
    background: url(./imgs/bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    padding:0;
    margin:0;
}
.heading{
    vertical-align: center;
    color: #f9d342;
    font-size: 7em;
}
.imgs{
    height:10vw;
    width:10vw;
}
.imgDiv{
    display: inline-block;
    position: relative;
    margin:0;
    padding:5vw 10vw 5vw 10vw;
    text-align: center;
}
.taglineImgs{
    text-align: center;
}
.intro{
    width:100%;
    height:40vh;
    background-image: linear-gradient(60deg, #f9d342 40%, #292926 40%);
    display: flex;
    align-items: center;
}
.weAre{
    vertical-align: center;
    width:40%;
    text-align:center;
    font-size: 4em;
    color: #292926;
}
.introP{
    width:60%;
    vertical-align: center;
    text-align:center;
    padding:5%;
    font-size: 1.5em;
    color: #f9d342;
}
.mvDiv{
    height:60vh;    
    width: 100%;
    background-image: linear-gradient(-60deg, #f9d342 50%, #292926 50%);
    /* padding-bottom: 5vh; */
}
.mDiv{
    width:50%;
    height:60vh;
    text-align: center;
    display: inline-block;
}
.mImg{
    height: 5vw;
    width: 5vw;
    padding-top:5vh;
}
.missionP{
    width:70%;
    font-size: 1.5em;
    color: #f9d342;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.vDiv{
    width:50%;
    height:60vh;
    text-align: center;
    display: inline-block;
}
.vImg{
    height: 5vw;
    width: 5vw;
    padding-top:5vh;
}
.visionP{
    width:70%;
    font-size: 1.5em;
    color: #292926;
    position: relative;
    top: 35%;
    right: -50%;
    transform: translate(-50%, -50%);
}
.servicesDiv{
    height:inherit;
    width:100%;
    background-image: linear-gradient(60deg, #f9d342 30%, #292926 30%);
    align-items: center;
    display: flex;
}
.servicesP{
    font-size: 4em;
    width:30%;
    text-align: center;
}
.servicesBL{
    width:70%;
    margin:10vh;
}
.servicesLink{
    text-decoration: none;
    border: 2px solid #f9d342 ;
    border-radius: 2px;
    padding:10px;
    margin:1.5em;
    color:#f9d342;
    font-size: 1em;
    background: transparent;
}
.servicesLink:hover{
    color: #292926;
    background: #f9d342;
}
.careerDiv{
    background: #292926;
    text-align: center;
}
.careerP{
    color: #f9d342;
    font-size:1em;
    padding-top:2vh;
}
.activeLink{
    color:#f9d342;
}
.careerLink{
    margin:5vh;
}