@keyframes slide {
    from{transform: scale(1.5)};
    to{transform: scale(1)};
}
@keyframes fade {
    from{opacity: 0;};
    to{opacity: 1;}
}
.home{
    width:100%;
    height: 100vh;
    overflow: hidden;
}

#home1{
    background: url(imgs/bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    animation-name: slide;
    animation-duration: 1000ms;
}
#home2{
    background: url(imgs/staffing.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    animation-name: slide;
    animation-duration: 1000ms;
}
#home3{
    background: url(imgs/itservicesBG.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    animation-name: slide;
    animation-duration: 1000ms;
}
p{
    padding:0;
    margin:0;
}
.headingDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exploreBtn{
    text-decoration: none;
    background: var(--yellow);
    color: var(--black);
    padding:10px 20px;
    margin:20px;
    font-weight: 500;
    animation-name: fade;
    animation-duration: 1500ms;
}
.heading{
    vertical-align: center;
    color: white;
    font-size: 3em;
    padding:10px;
    animation-name: fade;
    animation-duration: 1500ms;
    font-weight: 300;
}
.raks{
    font-size: 4em;
    font-family: 'Audiowide', cursive;
}
.imgs{
    height:5vw;
    width:5vw;
}
.imgDiv{
    display: inline-block;
    position: relative;
    margin:0;
    padding:5vw 5vw 5vw 5vw;
    text-align: center;
}
.taglineImgs{
    text-align: center;
}
.intro{
    width:100%;
    height:60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introDiv{
    width:50%;
    height:60vh;
    background: rgb(236, 236, 236);
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
}
.weAreImg{
    height: inherit;
    width:50%;
    background-image : url(imgs/weR.jpg);
    background-size:cover;
    background-attachment: fixed;
}
.introP{
    font-size: 1em;
    color: var(--black);
    vertical-align: center;
    padding:0% 10% 0% 10%;
    line-height: 25px;

}
.weAre{
    font-size: 2em;
    padding:0% 0% 10% 0%;
}
.mvDiv{
    height:60vh;    
    width: 100%;
    background:var(--yellow);
    border-bottom: 1px solid rgb(207, 207, 207);
    display: grid;
    grid-template-columns: 50% 50%;
}
.mDiv{
     text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mImg{
    width: 5vw;
    padding-top:15vh;
    padding-bottom: 10px;
}
.missionP{
    width:70%;
    font-size: 1em;
    color: var(--black);
    line-height: 25px;
    padding-top:30px;
}
.vDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vImg{
    width: 5vw;
    padding-top:15vh;
    padding-bottom: 10px;
}
.visionP{
    width:70%;
    font-size: 1em;
    color: var(--black);
    line-height: 25px;
    padding-top:30px;
}
.servicesDiv{
    height:inherit;
    width:100%;
    background: var(--yellow);
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.servicesP{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicesBL{
    padding:10% 0%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.servicesLink{
    width:100%;
    text-decoration: none;
    border: none;
    padding:10px;
    margin:auto;
    color:var(--black);
    font-size: 1em;
    background: transparent;
    display:flex;
    justify-content: left;
    align-items: center;
}
.servicesLinkImgs{
    align-items: left;
    justify-content: left;
    width:60px;
    margin:10px;
}
.servicesLink:hover{
    background:#e4e4e4;
    text-emphasis: none;
    cursor: pointer;
    text-decoration: none;
}
.careerDiv{
    background: var(--yellow);
    display: grid;
    grid-template-columns: 30% 70%;
    padding:5% 5% 2.5% 0%;
}
.careerHeading{
    color: var(--black);
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.careerP{
    color: var(--black);
    font-size:1em;
    padding-top:2vh;
    text-align: center;
    line-height: 25px;
}
.currOpeningLink{
    width:100%;
    text-decoration: none;
    border: none;
    padding:10px;
    margin:1.5em 0;
    color:var(--black);
    font-size: 1em;
    background: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
}
.currOpeningLink:hover{
    background:#e4e4e4;
    cursor: pointer;

}
.activeLink{
    color:var(--yellow);
}

@media screen and (max-width:900px){
    .heading{
        text-align: center;
        font-size: 2em;
    }
    .imgs{
        height:30vw;
        width:30vw;
    }
    .imgDiv{
        display: block;
    }
    .intro{
        width:100%;
        height:100%;
        background-image : url(imgs/weR.jpg);
        background-size:cover;
        background-attachment: fixed;
    }
    .introDiv{
        width:100%;
        height: inherit;
        background: rgba(0,0,0,0.5);
        text-align:center;
        padding:10%;
    }
    .weAreImg{
        display: none;
    }
    .introP{
        font-size: 1.1em;
        color: var(--yellow);
        vertical-align: center;
        padding:0%;
    }
    .weAre{
        font-size: 1.5em;
        padding:0% 0% 10% 0%;
        color: var(--yellow);
    }
    .mvDiv{
        height:inherit;    
        width: 100%;
        background:var(--yellow);
        padding-bottom: 5%;
        border-bottom: 1px solid rgb(207, 207, 207);
        display: grid;
        grid-template-columns: 100%;
    }
    .mDiv{
        width:100%;
        height:inherit;
        text-align: center;
        display: inline-block;
    }
    .mImg{
        width: 20vw;
        padding-top:5vh;
    }
    .missionP{
        width:90%;
        font-size: 1.1em;
        color: var(--black);
        padding:5%;
    }
    .vDiv{
        width:100%;
        height:inherit;
        text-align: center;
        display: inline-block;
    }
    .vImg{
        width: 20vw;
        padding-top:5vh;
    }
    .visionP{
        width:90%;
        font-size: 1.1em;
        color: var(--black);
        padding: 5%;
    }
    .servicesDiv{
        height:inherit;
        width:100%;
        background: var(--yellow);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .servicesP{
        font-size: 2em;
        width:100%;
        text-align: center;
    }
    .servicesBL{
        grid-template-columns: auto auto;
    }
    .servicesLink{
        width:80%;
        margin:0%;
    }
    .careerDiv{
        display: flex;
        flex-direction: column;
        padding:0%;
    }
    .careerHeading{
        font-size: 2em;
    }
    .careerP{
        font-size:1.1em;
        padding:5%;
    }
}