.itServicesNvbr{
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
}
.itServicesLink{
    color:white;
}
.mainISDiv{
    width:100%;
    text-align: center;
    background-image: url(imgs/its.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.itSP{
    font-size: 1.2em;
    padding-left:20%;
    padding-right: 20%;
    padding-bottom: 10vh;
    color: var(--yellow);
    line-height: 25px;
}
.itServicesH{
    padding-top: 15vh;
    font-size: 4em;
    color: var(--yellow);
    padding-bottom: 15vh;
}
.itServices{
    background: var(--yellow);
    width:90%;
    padding:5%;
}
.serviceDiv{
    width:70%;
    padding:2.5% 15% 2.5% 15%;
}
.serviceH{
    font-size: 1.5em;
    padding:10px 0px;
    text-align: left;
    margin:20px 0px;
    display:flex;
    justify-content: left;
    align-items: center;
}
.serviceImgs{
    align-items: left;
    justify-content: left;
    width:60px;
    margin-right: 20px;
}
.serviceP{
    text-align: left;
    font-size: 1em;
}


@media screen and (max-width:900px){
    .itServicesH{
        font-size: 2em;
        padding-bottom: 70px;
    }
    .itSP{
        padding: 5% 5% 10% 5%;
        background: white;
        color: var(--black);
        font-size: 1.1em;
    }
    .serviceDiv{
        width:90%;
        padding:2.5% 5% 2.5% 5%;
    }
    .serviceP{
        font-size: 1em;
    }
}