.itServicesNvbr{
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
}
.itServicesLink{
    color:white;
}
.mainISDiv{
    width:100%;
    text-align: center;
    background-image: url(./imgs/its.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.itServicesH{
    padding-top: 20vh;
    font-size: 4em;
    color: var(--yellow);
    padding-bottom: 5vh;
}
.itServices{
    padding:5%;
    display: grid;
    grid-template-columns: auto auto;
}
.yellowDiv{
    background: var(--yellow);
}
.yellowH{
    font-size: 2em;
    padding:20px 20px 0px 20px;
}
.yellowP{
    width:80%;
    margin:10%;
    font-size:1.2em;
}
.yellowDiv:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, .5);
}
.blackDiv{
    background: var(--black);
}
.blackH{
    font-size: 2em;
    padding:20px 20px 0px 20px;
    color: var(--yellow);
}
.blackP{
    width:80%;
    margin:10%;
    font-size:1.2em;
    color: var(--yellow);
}
.blackDiv:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, .5);
}
.trainingDiv{
    background: var(--yellow);
    grid-column-start: 1;
    grid-column-end: 3;
}
.trainingH{
    font-size: 2em;
    padding:20px 20px 0px 20px;
}
.trainingP{
    width:90%;
    margin:5%;
    font-size:1.2em;
}
.trainingDiv:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, .5);
}