.usNvbr{
    background: rgba(0, 0, 0, 0.6);
    width:100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
}
.usLink{
    color:white;
}
.mainDiv{
    width: 100%;
    height:inherit;
    background: var(--yellow);
}
.usH{
    font-size:4em;
    text-align:center;
    padding-top: 15vh;
    color: var(--yellow);
    padding-bottom:15vh;
    background: url(./imgs/usStaffing.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.usMainDiv{
    display: grid;
    grid-template-columns: 50% 50%;
}
.stepsDiv{
    padding:10%;
    background: var(--yellow);
}
.rightImg{
    background: url(./imgs/rightImg.jpg);
    background-size: cover;
}
.leftImg{
    background: url(./imgs/leftImg.jpg);
    background-size: cover;
}
.paragraph{
    padding:35px 70px 35px 70px;
    font-size:1.1em;
}